* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Candara, Optima, Calibri;
  font-size: 19px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/robert-murray-TGcqIirp5Y0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#secTitle {
  position: relative;
}

#secTitle::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(223, 223, 224);
  opacity: 82%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 65px;
}

h2 {
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#projCard {
  border-radius: 15px;
  margin: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgb(228, 229, 231);
}

#deployBtn {
  border: solid;
  border-radius: 5px;
}

#work img {
  border: solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-width: 1px;
  margin-left: 0px;
}

#work a {
  margin-left: 5px;
  margin-right: 5px;
}

i {
  color: rgb(81, 81, 82);
}

#persCard i,
#profCard i {
  color: white;
}

#aboutReveal i {
  color: black;
}

.card-reveal i {
  color: black;
}

.card-content i {
  color: black;
}

#aboutCardTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  font-weight: 500;
}

#aboutRevealTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
}

#projCard .card-title {
  /* font-size: 30px; */
  font-weight: 500;
}

.card-reveal p {
  margin-top: 25px;
}

#profCard {
  background-image: url(../images/officePhoto1.jpg);
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(60%);
}

#persCard {
  background-image: url(../images/desertPhoto1.jpg);
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(60%);
}

#contact i {
  color: rgb(81, 81, 82);
}

#contactIcons {
  padding-bottom: 5px;
}

.card-reveal {
  background-image: linear-gradient(
    to bottom right,
    rgb(196, 199, 202),
    rgb(109, 153, 170)
  );
}

/* #workCardContent {
  background-color: rgb(228, 229, 231);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 1px;
} */

@media (max-width: 600px) {
  #projCard {
    width: 98%;
    height: auto;
  }
  #workRow {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  #projCard {
    width: 45%;
    height: auto;
  }
  #workRow {
    flex-direction: row;
  }
}

@media only screen and (max-width: 992px) {
  #navBar {
    background-color: transparent;
    box-shadow: none;
  }
  #navBar i {
    color: whitesmoke;
    opacity: 100%;
  }
}

@media only screen and (min-width: 993px) {
  #projCard {
    width: 31%;
    height: auto;
  }
  #workRow {
    flex-direction: row;
  }
  #navBar {
    background-color: grey;
    opacity: 75%;
    height: 50px;
  }
  #navBar a {
    font-size: larger;
  }
}
