* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Geneva, Arial, "Times New Roman";
  font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projCard {
  border-radius: 15px;
  margin: 10px;
}

#deployBtn {
  border: solid;
  border-radius: 5px;
  /* padding: 10px; */
}